@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.nav-logo {
	width: 120px;
	height: auto;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #444654;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.site-header {
	position: relative;
	background-color: #003831;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.site-header__start {
	flex: 1 0 auto;
	padding: 0 5rem;
}

.site-header__end {
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-end;
	padding: 0 5rem;
}

.nav__item:not(:last-child) {
	margin-right: 0.5rem;
}

.nav__item a {
	display: block;
	padding: 1rem;
}

.nav__item a span {
	border-bottom: 2px solid transparent;
}

.nav__item.active a {
	border-left-color: #fff;
}

@media (min-width: 800px) {
	.nav__item.active a {
		border-bottom-color: #fff;
	}
}

.content {
	background-color: #FFFFFF;
	width: 80%;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto;
}

.white-text {
	color: #fff;
}

.main-content {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 1em;
	min-height: 850px;
}
